.vscode

.DS_Store

Brewfile.lock.json

# individual device config files
./stow/.zsh_device_config

# git config files
./stow/.ssh/config
./stow/.gitconfigs/.gitconfig-office-work
./stow/.gitconfigs/.gitconfig-personal-work
